<div class="login-container">
    <div class="row justify-content-md-center">
        <div class="col-md-3 text-center">

            <h2>Login</h2>

            <div class="line-break"></div>

            <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
                <label for="email" style="margin-right: 8px;">Email</label>
                <input type="text" id="email" formControlName="email">
            </div>

            <div class="line-break"></div>

            <div class="form-group">
                <label for="password" style="margin-right: 8px;">Password</label>
                <input type="password" id="password" formControlName="password">
            </div>

            <div class="line-break"></div>

            <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
            </form>
        </div>
    </div>
</div>