<form [formGroup]="dataForRecord">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="row justify-content-center">
                    <p>Add used Material and Service to the Record for Patient: {{patientForRecord.firstName }} {{patientForRecord.lastName}}</p>
                    <br>
                    <br>
                </div>
                
            </div>
        </div>
        
        <div class="row justify-content-md-center">
            <div class="form-group col-md-3">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="teethDescription" formControlName="teethDescription"
                placeholder="Enter description">
                <div *ngIf="dataForRecord.get('teethDescription')?.touched && dataForRecord.get('teethDescription')?.hasError('required')" class="alert alert-danger">
                Description is required!
                </div>
                <div *ngIf="dataForRecord.get('teethDescription')?.touched && dataForRecord.get('teethDescription')?.hasError('minlength')" class="alert alert-danger">
                Description must have more than six characters!
                </div>
                <div *ngIf="dataForRecord.get('teethDescription')?.touched && dataForRecord.get('teethDescription')?.hasError('pattern')" class="alert alert-danger">
                Description mast contain numbers and punctuation marks!
                </div>
            </div>
        </div>
    </div>

    <div class="line-break1"></div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="row justify-content-center">
                    <div class="form-group col-6">
                        <label for="searchTermMaterials" class="col-xs-3 col-sm-auto col-form-label">Enter text for searching materials:</label>
                        <div class="col-xs-3 col-sm-auto">
                            <input class="form-control" type="text" id="searchTermMaterials"  formControlName="searchTermMaterials" placeholder="Search" (change)="findAllMaterialsFiltered($event)">
                        </div>
                    </div> 

                    <div class="form-group col-6">  
                        <label for="searchTermServices" class="col-xs-3 col-sm-auto col-form-label">Enter text for searching services:</label>
                        <div class="col-xs-3 col-sm-auto">
                            <input class="form-control" type="text" id="searchTermServices" placeholder="Search" formControlName="searchTermServices" (change)="findAllServicesFiltered($event)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="line-break1"></div>
     
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="row justify-content-center">
                    <div class="form-group col-3">    
                        <div style="overflow-x:auto">
                            <table>
                                <tr>
                                    <th name="sortKey" (click)="onSortMaterials('materialName')">Material name</th>
                                    <th name="sortKey" (click)="onSortMaterials('quantity')">Quantity</th>
                                </tr>
                                <tr *ngFor="let m of materials" [attr.id]="m.id">
                                    
                                    <td class="a">{{ m.materialName }}</td>
                                    <td class="a">{{ m.quantity }}</td> 
                                    <td><button type="button" id="addNewRecord" class="btn btn-success" (click)="addMaterialsForPatientRecord(m.id!, m.materialName)">Add</button></td>
                                </tr>
                            </table>
                        </div>

                        <div class="line-break1"></div>
                        
                        <div class="row justify-content-md-center">
                            <div class="col-md-6">
                                <div class="container" *ngIf="materials.length > 0">
                                    <div class="col-6">
                                        <div class="mb-3 row">
                                            <ngb-pagination class="d-flex" [collectionSize]="pageSize * totalPages" [pageSize]="pageSize" [(page)]="pageNumberMaterials" (pageChange)="findMaterialsWidthPaging($event)"></ngb-pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="form-group col-3">  
                        <div formArrayName="materialsForm">
                        <table>
                            <tr>
                                <th>Added materials</th>
                                <th>Quantity of used material</th>
                            </tr>
                            <tr *ngFor="let materialControl of materialsFormArray.controls; let i = index">
                                <td>{{ materialControl.get('materialName')?.value }}</td>
                                <td><input class="form-control" type="text" id="numberOfUsedMaterials" placeholder="Number" 
                                    [formControl]="getNumberOfUsedMaterialsControl(i)"></td>
                                <td><button id="removeMaterial" class="btn btn-success" (click)="removeMaterial(i)">Remove</button></td>
                            </tr>
                        </table>
                    </div>
                    </div>  

                    <div class="form-group col-3">   
                        <div style="overflow-x:auto">
                            <table>
                                <tr>
                                    <th name="sortKey" (click)="onSortServices('serviceName')">Service name</th>
                                </tr>
                                <tr *ngFor="let s of services" [attr.id]="s.id">
                                    <td class="a">{{ s.serviceName }}</td>
                                    <td><button type="button" id="addNewRecord" class="btn btn-success" (click)="addServicesForPatientRecord(s.id!, s.serviceName)">Add</button></td>
                                </tr>
                            </table>
                        </div>

                        <div class="line-break1"></div>

                        <div class="row justify-content-md-center">
                            <div class="col-md-9">
                                <div class="container" *ngIf="services.length > 0">
                                    <div class="col-6">
                                        <div class="mb-3 row">
                                            <ngb-pagination class="d-flex" [collectionSize]="pageSize * totalPages" [pageSize]="pageSize" [(page)]="pageNumberServices" (pageChange)="findServicesWidthPaging($event)"></ngb-pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-group col-3">    
                        <table>
                            <tr>
                                <th>Added services</th>
                            </tr>
                            <tr *ngFor="let serviceControl of servicesFormArray.controls; let i = index">
                                <td>{{ serviceControl.get('serviceName')?.value }}</td>
                                <td><button id="removeMaterial" class="btn btn-success" (click)="removeService(i)">Remove</button></td>
                            </tr>
                        </table>
                    </div>  
    
                    <div class="col-md-4">
                        <button type="button" class="btn btn-danger" id="addNewRecord" [disabled]="!dataForRecord.get('teethDescription')?.valid || materialsFormLength === 0 || servicesFormLength === 0" (click)="addNewRecord()">Save</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</form>