p{
    color:blue;
    font-size:xx-large;
    font-style: italic;
  }
  
  table,
  th,
  td {
    font-family: Arial, sans-serif;
    text-align: left;
    border: 1px solid blue;
    padding: 10px;
  }

  button{
    width: 80px;
    height: 40px;
  } 

  .line-break{
    margin-top: 20px;
  }

  .line-break1{
    margin-bottom: 20px;
  }
