<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Dental Office</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown" *ngIf="role === 'ROLE_NURSE'">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Patients
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" [routerLink]="['/addNewPatient']" routerLinkActive="active" href="#">Add new Patient</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/listOfPatients']" href="#">List of Patients</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" *ngIf="role === 'ROLE_NURSE'">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Appointments
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" [routerLink]="['/addNewAppointment']" routerLinkActive="active" href="#">Add new Appointment</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/listOfAppointments']" href="#">List of Appointments</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" *ngIf="role === 'ROLE_NURSE'">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Materials
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" [routerLink]="['/addNewMaterial']" routerLinkActive="active" href="#">Add new Material</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/listOfMaterials']" href="#">List of Materials</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" *ngIf="role === 'ROLE_NURSE'">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Services
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" [routerLink]="['/addNewService']" routerLinkActive="active" href="#">Add new Service</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/listOfServices']" href="#">List of Services</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" *ngIf="role === 'ROLE_DOCTOR'">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Patient record
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" [routerLink]="['/addNewRecord']" routerLinkActive="active" href="#">Add new Record</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/listOfRecords']" href="#">List of Records</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>    