<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="row justify-content-center">
                <p>List of Records </p>
            </div>
            <div class="mb-3 row">
                <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Enter text for search:</label>
                <div class="col-xs-3 col-sm-auto">
                    <input class="form-control" type="text" name="searchTerm" [(ngModel)]="searchTerm" placeholder="Search" (change)="findAllFiltered($event)">
                </div>
            </div>
        </div>
        <div *ngIf="records.length === 0">
            <span>No results found</span>
        </div>
        <div class="row justify-content-md-center">
            <div class="form-group col-md-9">
                <div style="overflow-x:auto" *ngIf="records.length > 0">
                    <table>
                        <tr>
                            <th name="sortKey" (click)="onSort('firstName')">First Name</th>
                            <th name="sortKey" (click)="onSort('lastName')">Last Name</th>
                            <th name="sortKey" (click)="onSort('date')">Date</th>
                            <th>Description</th>
                            <th>Material Details</th>
                            <th>Service Details</th>
                        </tr>
                        <tr *ngFor="let d of records" [attr.id]="d.id">
                            <td>{{ getPatientFirstName(d) }}</td>
                            <td>{{ getPatientLastName(d) }}</td>
                            <td>{{ getDate(d) }}</td>
                            <td>{{ getDescription(d) }}</td>
                            <td><button id="showUsedMaterials" class="btn btn-danger" (click)="showUsedMaterials(d.id, getPatientFirstName(d), getPatientLastName(d), getDate(d))">Show Used Materials</button></td>
                            <td><button id="showServices" class="btn btn-danger" (click)="showServices(d.id, getPatientFirstName(d), getPatientLastName(d), getDate(d))">Show Services</button></td>   
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="form-group col-md-3">
                <div class="container" *ngIf="records.length > 0">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="mb-3 row">
                                <ngb-pagination class="d-flex" [collectionSize]="pageSize * totalPages" [pageSize]="pageSize" [(page)]="pageNumber" (pageChange)="findWidthPaging($event)"></ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
