<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="row justify-content-center">
                <p>List of Services on {{date}} for Patient {{firstName}}  {{lastName}}</p>
            </div>
        </div>
        <div *ngIf="services.length === 0">
            <span>No results found</span>
        </div>
        <div class="row justify-content-md-center">
            <div class="form-group col-md-5">
                <div style="overflow-x:auto" *ngIf="services.length > 0">
                    <table>
                        <tr>
                            <th>Service name</th>
                        </tr>
                        <tr *ngFor="let s of services" [attr.id]="s.id">
                            <td>{{ s.serviceName }}</td>
                        </tr>
                    </table>
                </div>
            </div>  
        </div>
    </div>
    <div>
        <br>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-3">
            <button type="button" class="btn btn-info" (click)="goBackToListOfRecords()">Back to record list</button>
        </div>
    </div>
</div>
