<form [formGroup]="basicData" (ngSubmit)="onSubmit()">
  <div class="row justify-content-md-center">
    <div class="col-md-3 text-center"> 
      <p>Add new Patient</p>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="form-group col-md-3">
      <label for="firstName">First name</label>
      <input type="text" class="form-control" id="firstName" 
        placeholder="Enter first name" formControlName="firstName">
      <div *ngIf="basicData.controls['firstName'].touched && basicData.controls['firstName'].errors?.['required']" class="alert alert-danger">
        First name is required!
      </div>
      <div *ngIf="basicData.controls['firstName'].touched && basicData.controls['firstName'].errors?.['minlength']" class="alert alert-danger">
        First name must have more than one character!
      </div>
      <div *ngIf="basicData.controls['firstName'].touched && basicData.controls['firstName'].errors?.['pattern']" class="alert alert-danger">
        First name can't be a number!
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="form-group col-md-3">
      <label for="lastName">Last name</label>
      <input type="text" class="form-control" id="lastName" 
        placeholder="Enter last name" formControlName="lastName">
        <div *ngIf="basicData.controls['lastName'].touched && basicData.controls['lastName'].errors?.['required']" class="alert alert-danger">
          Last name is required!
        </div>
        <div *ngIf="basicData.controls['lastName'].touched && basicData.controls['lastName'].errors?.['minlength']" class="alert alert-danger">
          Last name must have more than one character!
        </div>
        <div *ngIf="basicData.controls['lastName'].touched && basicData.controls['lastName'].errors?.['pattern']" class="alert alert-danger">
          Last name can't be a number!
        </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="form-group col-md-3">
      <label for="birthDate">Birth date</label>
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
        formControlName="birthDate"
        readonly
        (click)="d.toggle()" 
        name="dp" ngbDatepicker 
        (closed)="onCalendarClosed()"
        [minDate]="{year: 1920, month: 1, day: 1}" #d="ngbDatepicker">
      </div>     
      <div *ngIf="calendarClosed && basicData.controls['birthDate'].touched && basicData.controls['birthDate'].errors?.['required']" class="alert alert-danger">
        Please pick the date from calendar!
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="form-group col-md-3">
      <label for="phoneNumber">Phone number</label>
      <input type="text" class="form-control" id="phoneNumber" 
        placeholder="Enter phone number" formControlName="phoneNumber">
      <div *ngIf="basicData.controls['phoneNumber'].touched && basicData.controls['phoneNumber'].errors?.['required']" class="alert alert-danger">
        Phone number is required!
      </div>
      <div *ngIf="basicData.controls['phoneNumber'].touched && basicData.controls['phoneNumber'].errors?.['pattern']" class="alert alert-danger">
        Please enter a number!
      </div>
      <div *ngIf="basicData.controls['phoneNumber'].touched && basicData.controls['phoneNumber'].errors?.['minlength']" class="alert alert-danger">
        Phone number must have at least 11 numbers and not more than 15 numbers!
      </div>
      <div *ngIf="basicData.controls['phoneNumber'].touched && basicData.controls['phoneNumber'].errors?.['maxlength']" class="alert alert-danger">
        Phone number must have ten numbers!
      </div> 
    </div>
  </div>
  <div class="container">
    <div class="col-md-12 text-center">
        <button type="submit" [disabled]="!basicData.valid || loading" class="btn btn-primary">
          Submit
          <span class="spinner-border spinner-border-sm" role="status" (hidden)="loading = false" *ngIf="loading"></span>
        </button>
    </div>
  </div>
  <ngb-toast [autohide]="true" class="toast-container-error" [delay]="10000" (hidden)="isErrorToastShown = false" *ngIf="isErrorToastShown">
    Patient is not saved!
  </ngb-toast>
</form>
